@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-weight: 500;
}
.left-section div h2 {
  font-size: 13px;
}
h5 {
  margin: 10px 0;
  font-weight: 500;
}
.main-section {
  display: flex;
}
.main-content {
  width: 100%;
}
li {
  list-style-type: none;
}
.row {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #ffcf8c;
}
.row:hover {
  background-color: #ffdcab;
}
.row .img {
  margin: 5px auto;
  max-width: fit-content;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.button {
  display: none;
}
.row:hover .button {
  display: flex;
}

.position {
  font-size: 13px;
}
.company,
.position,
.location,
.category {
  color: #532a21;
}
.location,
.category {
  border: 0.5px solid #532a21;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px 0;
  font-size: 10px;
}
.location img {
  margin: 0 2px;
}

.location-category {
  display: flex;
  align-items: center;
}
.location {
  justify-content: center;
}
.mid-section span {
  margin: 5px;
  background-color: #ffdcab;
  padding: 2px 5px;
  border: 1px #532a21 groove;
  color: #532a21;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
}

.left-section {
  width: 50%;
}
.mid-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  max-width: 40%;
}

.mid-right-section {
  width: 20%;
  font-size: 12px;
  padding-left: 30px;
  display: flex;
  justify-content: space-evenly;
}

.mid-section,
.mid-right-section,
.right-section {
  display: flex;
  margin: auto;
}

.right-section {
  width: 15%;
}

.apply {
  margin: 5px;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  text-transform: uppercase;

  font-size: 14px;
  background-color: #532a21;
  color: white;
  font-weight: 700;
}
.apply:hover {
  background-color: #fef6e8;
  color: #532a21;
  border: 1px solid #532a21;
  cursor: pointer;
  opacity: 0.75;
}
.new {
  margin: 0;
  font-size: 12px;
}
.new p {
  vertical-align: middle;
}
.new:nth-of-type(5) {
  display: none;
}

.content {
  display: flex;
  justify-content: space-around;
}

.right-navbar {
  margin: 10px;
  float: right;
}

.dropdown {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.dropdown .dropdown-btn {
  padding: 15px 15px;
  margin: 0 15px;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  color: #532a21;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}
.dropdown .dropdown-content {
  background: #fff;
  box-shadow: 3px 3px 20px rgb(83, 42, 33, 0.3);
  line-height: 30px;
  padding: 10px;
  margin-right: 0 auto;
  overflow: auto;
  display: inline-block;
  position: absolute;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    max-width: 390px;
  }
  .mid-section {
    width: auto;
    margin: 0;
  }
  .left-section {
    width: 50%;
  }
  .mid-right-section {
    width: auto;
  }
}
